---
layout: container
title: Design Your Life!
subtitle: Was, wenn ich ewig leben würde?
---

<!-- <blockquote class="blockquote mt-5">
  <p class="mb-0">Was, wenn ich ewig leben würde?</p>
</blockquote> -->

<p class="lead">Was würden Sie ändern wollen? {{ site.dyl }}hilft Ihnen dabei, Ihre Potentiale und Ihre Sehnsüchte zu erkennen. Auf spielerische Weise können Sie das, was Sie sich an Veränderung wünschen, Wirklichkeit werden lassen.
</p>

{% include modalDesignThinking.html %}
{% include modalInterventionsstudie.html %}

<div class="row my-5">
  <div class="col-md-10 offset-md-1">
    <ul class="lead list-unstyled">
      <li class="mb-3">{{ site.dyl }}ist eine Kreativitätsmethode in 9 Schritten, die auf der Potentialentfaltung und Neuorientierung dient.
      </li>
      <li class="mb-3">{{ site.dyl }}ist im Wissenschaftsraum entstanden und wird <a href="#" data-toggle="modal" data-target="#modalInterventionsstudie">wissenschaftlich begleitet.</a>
      </li>
      <li class="mb-3">{{ site.dyl }}trägt signifikant zu mehr Lebensqualität und Lebenszufriedenheit bei.
      </li>
      <li class="mb-3">{{ site.dyl }}stammt aus dem <a href="#" data-toggle="modal" data-target="#modalDesignThinking">Design Thinking</a> und betont die drei Aspekte Analyse, Rekursivität und Praxisbezug.
      </li>
    </ul>
  </div>
  <!-- <div class="sonne nblume col-md-5">
    <img src="{{ site.url }}/assets/img/sonnenblume.jpg" alt="Sonnenblume" class="img-fluid rounded z-depth-1">
  </div> -->
</div>

<hr>

<div class="my-5">
<figure class="figure">
  <img src="{{ site.url }}/assets/img/gesamt_icons_by_icons8_com.svg" class="figure-img img-fluid rounded" alt="Phasen im Design Thinking" width="5000px">
  <figcaption class="figure-caption">Prozessmodell in 9 Schritten</figcaption>
</figure>
</div>


{% comment %}

<!-- Projects section v.3 -->
<section class="my-5">

  <h2 class="h1-responsive font-weight-bold text-center my-5">Ethische Literalität</h2>
  <p class="grey-text text-ce nter w-responsive mx-auto mb-5">Die DYL-Workshops werden im Rahmen einer Interventionsstudie wissenschaftlich begleitet. Die Konstrukte <em>Verantwortungsbereitschaft</em> (Fragebogen zur Verantwortungskompetenz; Cramer,
    2008), <em>Empathie</em> (Toronto Empathy Questionnaire; Spreng et al., 2009) und <em>Emotionale Kompetenz</em> (Emotionale-Kompetenz-Fragebogen; Rindermann, 2009) werden vor und nach dem Workshop bei den Teilnehmern erhoben und auf Wunsch
    zurückgespiegelt. Begleitend finden Beobachtungen während der Workshop-Phase sowie Interviews mit Personen aus dem Ausbildungsumfeld statt (z. B. Lehrpersonen bei Schülern oder Dozenten bei Studierenden). Die Workshops werden zudem regelmäßig
    evaluiert, um das Qualitätsniveau hoch zu halten und ggfs. Verbesserungen anzubringen.</p>

  <h2 class="h1-responsive font-weight-bold text-center my-5">Wissenschaftliche Einbindung</h2>
  <p class="grey-text text-ce nter w-responsive mx-auto mb-5">Die DYL-Workshops werden im Rahmen einer Interventionsstudie wissenschaftlich begleitet. Die Konstrukte <em>Verantwortungsbereitschaft</em> (Fragebogen zur Verantwortungskompetenz; Cramer,
    2008), <em>Empathie</em> (Toronto Empathy Questionnaire; Spreng et al., 2009) und <em>Emotionale Kompetenz</em> (Emotionale-Kompetenz-Fragebogen; Rindermann, 2009) werden vor und nach dem Workshop bei den Teilnehmern erhoben und auf Wunsch
    zurückgespiegelt. Begleitend finden Beobachtungen während der Workshop-Phase sowie Interviews mit Personen aus dem Ausbildungsumfeld statt (z. B. Lehrpersonen bei Schülern oder Dozenten bei Studierenden). Die Workshops werden zudem regelmäßig
    evaluiert, um das Qualitätsniveau hoch zu halten und ggfs. Verbesserungen anzubringen.</p>

  <h2 class="h1-responsive font-weight-bold text-center my-5">Literatur und Studien zu Design Thinking und Ethical Literay</h2>

  <ul>
    {% for item in site.data.literatur %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>



  <h2 class="h1-responsive font-weight-bold text-center my-5">Beispiel für weiteres</h2>


  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5">
      <!--Image-->
      <img src="https://images.pexels.com/photos/372098/pexels-photo-372098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <i class="fas fa-heart fa-2x cyan-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punkt s</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
            aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <i class="fas fa-book-open fa-2x red-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punkt 2</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
            aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fas fa-theater-masks fa-2x deep-purple-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punkt 3</h5>
          <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
            nam, aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <i class="fas fa-star fa-2x indigo-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punt 4</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
            aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <i class="fas fa-thumbs-up fa-2x pink-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punkt 5</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
            aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-lg-0 mb-5">
        <div class="col-md-1 col-2">
          <i class="far fa-award fa-2x blue-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Punkt 6</h5>
          <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores
            nam, aperiam minima elit assumenda voluptate velit.</p>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">
      <!--Image-->
      <img src="https://images.pexels.com/photos/2404796/pexels-photo-2404796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Projects section v.3 -->

{% endcomment %}
