---
layout: container
title: Forschung
subtitle:
---

{% include modalEthischeKompetenzen.html %}
{% include modalInterventionsstudie.html %}


<div class="row my-5">
  <div class="col-md-10 offset-md-1">
    <ul class="lead list-unstyled">
      <li class="mb-3">Die {{ site.dyl }} Workshops sind Teil eines angewandten Forschungsprojekts zur Evaluierung von <em>ethischer Literalität.</em>
      </li>
      <li class="mb-3">Ethische Literalität bedeutet, in Bezug auf die Ethik die Grundlagen des Lesens, Schreibens und Rechnens zu beherrschen und von daher fähig zu sein, sich im täglichen Leben zurechtzufinden und <a href="#" data-toggle="modal" data-target="#modalEthischeKompetenzen">ethisch kompetent</a> zu sein.
      </li>
      <li class="mb-3">Die {{ site.dyl }} Workshops werden im Rahmen einer <a href="#" data-toggle="modal" data-target="#modalInterventionsstudie">Interventionsstudie</a> wissenschaftlich begleitet.
      </li>
    </ul>
  </div>
  <!-- <div class="sonne nblume col-md-5">
    <img src="{{ site.url }}/assets/img/sonnenblume.jpg" alt="Sonnenblume" class="img-fluid rounded z-depth-1">
  </div> -->
</div>
