---
layout: container
title: Forschung
subtitle: Mit kleinem Hebel große Wirkung erzeugen
image: /assets/img/20210419_webseite_forschung_abbildung-studiendesign.png
---

{% include modalEthischeKompetenzen.html %}
{% include modalInterventionsstudie.html %}


<div class="row my-5">
  <div class="col-md-10 offset-md-1">
    <ul class="lead list-unstyled">
      <li class="mb-3">Die {{ site.dyl }} Workshops sind Teil eines angewandten Forschungsprojekts zur Evaluierung von <em>ethischer Literalität.</em>
      </li>
      <li class="mb-3 border m-md-5 p-3 p-md-5">Ethische Literalität bedeutet, in Bezug auf die Ethik die Grundlagen des Lesens, Schreibens und Rechnens zu beherrschen und von daher fähig zu sein, sich im täglichen Leben zurechtzufinden und <a href="#" data-bs-toggle="modal" data-bs-target="#modalEthischeKompetenzen" tabindex="1">ethisch kompetent</a> zu sein.
      </li>
      <li class="mb-3">Die {{ site.dyl }} Workshops werden im Rahmen einer <a href="#" data-bs-toggle="modal" data-bs-target="#modalInterventionsstudie" tabindex="1">Interventionsstudie</a> wissenschaftlich begleitet. Ziel ist es, nachzuweisen, dass mit weisen Interventionen (Yeager, Walton & Cohen 2013) eine große Hebelwirkung in Bezug auf psychologisch-ethische Kompetenzen erzeugt werden kann.
      </li>
    </ul>
  </div>
  <!-- <div class="sonne nblume col-md-5">
    <img src="{{ site.url }}/assets/img/sonnenblume.jpg" alt="Sonnenblume" class="img-fluid rounded z-depth-1">
  </div> -->
</div>

<div class="my-5">
<figure class="figure" role="img" aria-label="Studiendesign mit Interventions- und Kontrollgruppe">
  <img src="{{ page.image }}" class="figure-img img-fluid rounded" alt="Studiendesign mit Interventions- und Kontrollgruppe" width="5000px">
  <figcaption class="figure-caption">Studiendesign mit <a href="#" data-bs-toggle="modal" data-bs-target="#modalInterventionsstudie" tabindex="1">Interventions- und Kontrollgruppe</a></figcaption>
</figure>
</div>
