---
layout: container
title: Kontakt
subtitle: Schreiben Sie uns &rsaquo; Wir sind für Sie da!
---

<!-- https://cloudfour.com/thinks/autofill-what-web-devs-should-know-but-dont/ -->


<div class="row">
  <div class="col-lg-12 mb-5">
    <!-- <h2 class="mt-5 mb-4">Wir sind für Sie da!</h2> -->
    <form name="Teamclusion Kontakt" method="POST" data-netlify="true" action="/danke" netlify-honeypot="filter">

      <div class="mb-3">
        <!-- <label for="name" class="form-label">Ihr Name</label> -->
        <div class="input-group">
        <input id="name" name="name" placeholder="Name" type="text" autocomplete="name" aria-describedby="namelHelp" required="required" class="form-control">
        </div>
        <div id="nameHelp" class="form-text">Ihr Name</div>
      </div>

      <div class="mb-3">
        <!-- <label for="email" class="form-label">Ihre E-Mail-Adresse</label> -->
        <div class="input-group">
          <div class="input-group-text"><i class="fa fa-at"></i></div>
          <input id="email" type="email" class="form-control" placeholder="E-Mail" aria-label="E-Mail" aria-describedby="emailHelp">
        </div>
        <div id="emailHelp" class="form-text">Ihre E-Mail-Adresse</div>
      </div>

      <div class="mb-3">
        <!-- <label for="tel" class="form-label">Ihre Telefonnummer</label> -->
        <div class="input-group">
          <div class="input-group-text"><i class="fa fa-phone"></i></div>
          <input id="tel" type="tel" class="form-control" placeholder="Telefonnummer" aria-label="Telefonnummer" aria-describedby="telHelp">
        </div>
        <div id="tellHelp" class="form-text">Ihre Telefonnummer</div>
      </div>

      {% comment %}
      <div class="form-group d-none">
        <!-- <label for="modul" class="form-label">Welches Modul betrifft Ihr Anliegen?</label> -->
        <div>
          <select id="modul" name="modul" aria-describedby="modulBlock" class="custom-select">
            <option value="keineAuswahl">bitte Modul wählen</option>
            {% for item in site.data.programme.primaer %}
            <option value="{{ item.kurz }}">{{ item.kurz }} – {{ item.modul }}</option>
            {% endfor %}
            <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
            {% for item in site.data.programme.sekunder %}
            <option value="{{ item.kurz }}">{{ item.kurz }} – {{ item.modul }}</option>
            {% endfor %}
          </select>
          <div id="modulBlock" class="form-text text-muted">Welches Modul betrifft Ihr Anliegen?</div>
        </div>
      </div>
      {% endcomment %}

      <div class="mb-3">
        <!-- <label for="modul" class="form-label">Ihre Nachricht an uns</label> -->
        <textarea id="IhrAnliegen" name="Ihr Anliegen" cols="40" rows="5" aria-describedby="IhrAnliegenBlock" required="required" class="form-control"></textarea>
        <div id="IhrAnliegenHelp" class="form-text">Ihre Nachricht an uns</div>
      </div>

        <button name="submit" type="submit" class="btn btn-primary">Senden</button>

    </form>
  </div>



  <div class="col-lg-12">
    <h2 class="mb-4">Kontaktinformationen</h2>

    <p class="h3">teamclusion</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

    <h4>Herausgeber</h4>
    <address>{{ site.publisher }}
    </address>
    <h4>Redaktion</h4>
    <p>{{ site.editorial }}</p>
    {% comment %}
    <hr>
    <p><small>Folge uns auf</small></p>
    <p>{% include socialLinks.html %}</p>
    {% endcomment %}
  </div>
</div>
