---
layout: container
title: Kontakt
subtitle: Schreiben Sie uns &rsaquo; Wir sind für Sie da!
---

<!-- https://cloudfour.com/thinks/autofill-what-web-devs-should-know-but-dont/ -->

<div class="row">
  <div class="col-lg-8 mb-5">
    <!-- <h2 class="mt-5 mb-4">Wir sind für Sie da!</h2> -->
    <form name="Teamclusion Kontakt" method="POST" data-netlify="true" action="/danke" netlify-honeypot="filter">
      <div class="form-group d-none">
        <!-- <label></label> -->
        <input id="filter" name="filter" type="text" autocomplete="name" aria-describedby="nameHelpBlock" class="form-control">
        <span id="nameHelpBlock" class="form-text text-muted">Nicht ausfüllen, wenn Sie ein Mensch sind.</span>
      </div>
      <div class="form-group">
        <!-- <label></label> -->
        <input id="name" name="name" placeholder="Name" type="text" autocomplete="name" aria-describedby="nameHelpBlock" required="required" class="form-control">
        <span id="nameHelpBlock" class="form-text text-muted">Ihr Name</span>
      </div>
      <div class="form-group">
        <!-- <label></label> -->
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-at"></i>
            </div>
          </div>
          <input id="email" name="email" placeholder="E-Mail" type="email" autocomplete="home email" aria-describedby="mailHelpBlock" class="form-control">
        </div>
        <span id="mailHelpBlock" class="form-text text-muted">Ihre E-Mail-Adresse</span>
      </div>
      <div class="form-group">
        <!-- <label></label>  -->
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <input id="tel" name="tel" placeholder="Telefonnummer" type="tel" autocomplete="work tel" aria-describedby="telephoneHelpBlock" class="form-control">
        </div>
        <span id="telephoneHelpBlock" class="form-text text-muted">Ihre Telefonnummer</span>
      </div>
      <div class="form-group d-none">
        <!-- <label></label> -->
        <div>
          <select id="modul" name="modul" aria-describedby="modulHelpBlock" class="custom-select">
            <option value="keineAuswahl">bitte Modul wählen</option>
            {% for item in site.data.programme.primaer %}
            <option value="{{ item.kurz }}">{{ item.kurz }} – {{ item.modul }}</option>
            {% endfor %}
            <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
            {% for item in site.data.programme.sekunder %}
            <option value="{{ item.kurz }}">{{ item.kurz }} – {{ item.modul }}</option>
            {% endfor %}
          </select>
          <span id="modulHelpBlock" class="form-text text-muted">Welches Modul betrifft Ihr Anliegen?</span>
        </div>
      </div>
      <div class="form-group">
        <!-- <label></label> -->
        <textarea id="Ihr Anliegen" name="Ihr Anliegen" cols="40" rows="5" aria-describedby="Ihr AnliegenHelpBlock" required="required" class="form-control"></textarea>
        <span id="Ihr AnliegenHelpBlock" class="form-text text-muted">Ihre Nachricht an uns</span>
      </div>
      <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Senden</button>
      </div>
    </form>
  </div>
  <div class="col-lg-4">
    <h2 class="mb-4">Kontaktinformationen</h2>

    <p class="h3">teamclusion</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

    <h4>Herausgeber</h4>
    <address>{{ site.publisher }}
    </address>
    <h4>Redaktion</h4>
    <p>{{ site.editorial }}</p>
    {% comment %}
    <hr>
    <p><small>Folge uns auf</small></p>
    <p>{% include socialLinks.html %}</p>
    {% endcomment %}
  </div>
</div>
