---
layout: container
title: Programme
---

<h2 class="h1-responsive font-weight-bold text-center my-5">Die ganze Vielfalt von Design Your Life!</h2>
<!-- Section description -->
<p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit est laborum.</p>


<div class="row my-5">
  <div class="col-md-6">
    <h3>Potentiale erkennen</h3>
    <p>Design Your Life! hilft Schülern und angehenden Studierenden beim Erkennen eigener Anlagen, Begabungen, Talente und Bedürfnisse. So können Sie die richtige Ausbildungswahl treffen und Schritt für Schritt überprüfen, ob Ihre Entscheidung der
      eigenen Persönlichkeit entspricht.</p>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <img src="{{ site.url }}/assets/img/blume1.jpg" alt="Sonnenblume" class="img-fluid rounded z-depth-1">
      </div>
      <div class="col-lg-6">
        <ul class="font-italic">
          <li>Eigentlich weiß ich nicht, welche Ausbildung zu mir passt.</li>
          <li>Ich fühle mich von der Studienwahl überfordert.</li>
          <li>Einen Beruf wählen, in dem ich mein Leben lang arbeiten soll?</li>
          <li>Wie möchte ich eigentlich leben? </li>
          <li>Ich denke nicht, dass ich irgendwelche besonderen Talente habe.</li>
          <li>Ich weiß schon, was ich gerne machen würde, aber ist das nicht brotlos?</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Veränderungen bewältigen</h3>
    <p>Design Your Life? hilft Menschen, die vor einem Wandel stehen oder die in ihrem Leben eine Neuorientierung vornehmen möchten. So können Sie Weichen für Veränderungen stellen, feste Ziele setzen und diese Schritt für Schritt verfolgen.</p>
    <div class="row">
      <div class="col-lg-6">
        <ul class="font-italic">
          <li>Ich habe schon seit Längerem das Gefühl, dass eine Veränderung ansteht.</li>
          <li>Ich bin unzufrieden mit meiner Lebenssituation.</li>
          <li>Ich habe Erwartungen an etwas, das ich gleichzeitig nicht konkret benennen kann.</li>
          <li>Ich bedauere, dass meine Talente nicht richtig zum Tragen kommen.</li>
          <li>Ich bin neugierig, ob da noch was kommt.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="{{ site.url }}/assets/img/sonnenblume.jpg" alt="Sonnenblume" class="img-fluid rounded z-depth-1">
      </div>
    </div>
  </div>
</div>

<p class="text-muted text-center w-responsive mx-auto mb-5">Alle Preise verstehen sich in Euro excl. MwSt.</p>

  <div class="card-deck">
    {% for item in site.data.programme.primaer %}
    <div class="card text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title h2">{{ item.kurz }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.modul }}</h6>
        <p class="card-text"><small>{{ item.teaser }}</small></p>
      </div>
      <ul class="fa-ul list-group list-group-flush text-left">
        {% for punkt in item.beinhaltet %}
        <li class="list-group-item"><i class="fa-li fas fa-check-circle text-success"></i> {{ punkt }}</li>
        {% endfor %}
      </ul>
      <div class="card-footer py-4">
        <a href="mailto:tgermer@me.com?subject=Anfrage%20zu%20{{ item.kurz | replace: ' ', '%20' }}%20–%20{{ item.modul | replace: ' ', '%20'}}" class="text-body"><span class="h3 font-weight-bold">{{ item.preis }}</span></a>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr class="m-5">

  <div class="card-deck mb-5">
    {% for item in site.data.programme.sekunder %}
    <div class="card text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title h2">{{ item.kurz }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.modul }}</h6>
        <p class="card-text"><small>{{ item.teaser }}</small></p>
      </div>
      <ul class="fa-ul list-group list-group-flush text-left">
        {% for punkt in item.beinhaltet %}
        <li class="list-group-item"><i class="fa-li fas fa-check-circle text-success"></i> {{ punkt }}</li>
        {% endfor %}
      </ul>
      <div class="card-footer py-4">
        <a href="mailto:tgermer@me.com?subject=Anfrage%20zu%20{{ item.kurz | replace: ' ', '%20' }}%20–%20{{ item.modul | replace: ' ', '%20'}}" class="text-body"><span class="h3 font-weight-bold">{{ item.preis }}</span></a>
      </div>
    </div>
    {% endfor %}
  </div>


  <!-- <div class="row">
  {% for item in site.data.programme %}
  <div class="col-sm-4 mb-4">
    <div class="card text-center">
      <div class="card-body mb-4">
        <h5 class="card-title h2">{{ item.kurz }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.modul }}</h6>
      </div>
      <ul class="list-group list-group-flush text-left">
        {% for punkt in item.beinhaltet %}
        <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> {{ punkt }}</li>
        {% endfor %}
      </ul>
      <div class="card-footer">
        <span class="h3 font-weight-bold">{{ item.preis }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
  </div> -->
