.masthead {
  height: 100vh;
  min-height: 500px;
  // background-image: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-image: url(https://images.pexels.com/photos/753312/pexels-photo-753312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -24px;
}

.text-shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}

body {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 4;
}

.nicht-trennen {
  -webkit-hyphens: none;
  -ms-hyphens: none;
}
