<footer class="d-print-none">
  <div class="container text-center text-md-start">
    <small>
      <div class="row mb-3">
        <div class="col-md-3 col-sm-6">
          <p class="mt-1">
            <img src="{{ site.url }}{{ site.logo_2-zeilig }}" alt="{{ site.title }}" class="img-reponsive d-none d-md-block" style="max-height:50px; max-width:107px" role="ima ge">
            <img src="{{ site.url }}{{ site.logo }}" alt="{{ site.title }}" class="img-responsive d-md-none x-auto" style="max-height:25px" role="image">
          </p>
          <p>&copy; 2019–{{ "now" | date: "%Y" }}</p>
          <p>Powered by<br><a href="https://app.netlify.com/sites/teamclusion/deploys" target="_blank"><img src="https://api.netlify.com/api/v1/badges/bc0871a5-ff1d-42cf-ab96-276127acefcd/deploy-status" alt="Netlify Status"></a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- <h4>Herausgeberin</h4>
          <address>{{ site.publisher }}
          </address> -->
          <h4>Herausgeberin &&nbsp;Redaktion</h4>
          <p>{{ site.editorial }}</p>
        </div>
        <div class="col-md-3 col-sm-6" id="footer">
          <h4>Navigation</h4>
          {% for item in site.data.navigation %}
          <a href="{{ site.url }}{{ item.link }}">{{ item.name }}</a>
          <br>
          {% endfor %}
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Kontakt</h4>
          <p>
            {% if site.phone !=nil %}<i class="fas fa-phone fa-fw"></i> {{ site.phone | markdownify | remove: '<p>' | remove: '</p>' }}
            <br>
            {% endif %}
            <i class="fas fa-envelope fa-fw"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            <br>
          </p>
        </div>
      </div>
    </small>
    {%- if site.twitter_username != nil or
           site.facebook_username != nil or
           site.linkedin_username != nil or
           site.youtube_username != nil or
           site.instagram_username != nil -%}
    <div class="text-center text-muted mt-3">
      <p><small>Folge uns auf</small></p>
      <p>{% include socialLinks.html %}</p>
    </div>
    {% endif %}
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row small text-center">
        <div class="col-md-4 text-md-start">
          <a href="{{ site.url }}/impressum">
            Impressum</a> | <a href="{{ site.url }}/datenschutz">
            Datenschutzerklärung</a>
        </div>
        <div class="col-md-4 text-center">
          Made with <span class="font-rot">♥</span>
        </div>
        <div class="col-md-4 text-md-right">
          <a href="mailto:{{ site.webmaster_email }}?subject=Website%20{{ site.title }}">
            Webmaster</a>
        </div>
      </div>
    </div>
  </div>
</footer>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- <script src="/assets/js/bootstrap.bundle.min.js"></script> -->
<!-- <script src="/assets/js/bootstrap.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/assets/js/navVersatz.min.js"></script>


{% comment %} ---
{% include piwik.html %}
--- {% endcomment %}
