<!-- Modal Design Thinking -->
<div class="modal fade" id="modalDesignThinking" tabindex="-1" role="dialog" aria-labelledby="modalDesignThinking" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDesignThinking">Design Thinking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <p>Bei unseren Coachingleistungen bauen wir auf dem Design Thinking auf, einer Methode aus dem Design, die vor allem in der Entwicklung neuer Produkte oder neuer Geschäftsideen eingesetzt wird. Ihr besonderer Fokus liegt darin, genau zu verstehen, wie der Kunde denkt, lebt und sich bewegt, und was er sieht, hört, wahrnimmt, sich wünscht und erträumt.</p>
        <p class="text-end text-muted">Quelle: Curedale (2019)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var myModal = document.getElementById('modalDesignThinking')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDesignThinking">
  Design Thinking
</button> -->
