<!-- Modal Interventionsstudie -->
<div class="modal fade" id="modalInterventionsstudie" tabindex="-1" role="dialog" aria-labelledby="modalInterventionsstudie" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInterventionsstudie">Interventionsstudie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <p>Die Teilnehmer werden gebeten, vor und nach dem Workshop oder Kurs einen Fragebogen auszufüllen (u.a. <em>Selbstwirksamkeitserwartung</em> nach Schwarzer & Jerusalem (1999); <em>Lebenskunst</em> nach Schmitz, Lang & Linten (2017)). Begleitend finden Beobachtungen während der Workshop-Phase sowie Interviews mit Personen aus dem Ausbildungsumfeld statt (Lehrpersonen von Schülern oder Studierenden). Die Workshops werden zudem regelmäßig evaluiert, um das Qualitätsniveau hoch zu halten und weiter zu verbessern.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var myModal = document.getElementById('modalInterventionsstudie')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
</script>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInterventionsstudie">
  Design Thinking
</button> -->
