<!-- Modal Ethische Kompetenzen -->
<div class="modal fade" id="modalEthischeKompetenzen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ethische Kompetenzen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nahal Jafroudi (2016) nennt folgende Aspekte ethischer Kompetenz:</p>
        <ul class="li st-unstyled">
          <li>Ethische Bildung erfordert ein positives Verständnis davon, was es bedeutet, Mensch [menschlich] zu sein, unabhängig von Zeit, Ort oder Kultur.</li>
          <li>Eine ethisch gebildete Person versteht die grundlegenden Prinzipien des moralischen Denkens, sie ist in der Lage moralische Fragestellungen und Dilemmata zu hinterfragen bzw. zu analysieren und vor allem sich auf moralisch angemessene Weise zu verhalten.</li>
          <li>Der Zweck ethischer Bildung ist, das Leben durch ethische Linsen zu betrachten und dies in drei Bereichen: <em>Wissen</em> (Konzepte, Theorien, Sprache), <em>Fähigkeiten</em> (Argumentation, (Selbst-)Reflexion, Dialogführung), <em>Tugenden</em> (u.a. Weisheit, Fairness, Ehrlichkeit, Mut, Toleranz, Empathie und Mitgefühl).</li>
        </ul>
        <p class="text-right text-muted">Quelle: <a href="https://ethicalliteracy.uk/" target="_blank">ethicalliteracy.uk</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#modalEthischeKompetenzen').on('shown.bs.modal', function () {
  $('#modalEthischeKompetenzen').trigger('focus')
})
</script>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalEthischeKompetenzen">
  Design Thinking
</button> -->
