<nav class="navbar navbar-expand-md navbar-light bg-light shadow fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/" tabindex="1">
			<img alt="{{ site.title }}" src="{{ site.logo_nav }}" height="30px"><span class='visually-hidden'>Logo {{ site.title }} und Link auf Startseite</span>
			<!-- Teamclusion -->
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav me-auto">
			</div>
			<ul class="navbar-nav d-flex">
				<!-- <li class="nav-item {% if page.url contains "/news" %}active{% endif %}"><a class="nav-link" href="/news">News</a>
					</li> -->
				{% for item in site.data.navigation %}
				{% if item.link == '/about' or item.link == '/team' or item.link == '/design_your_life' or item.link == '/forschung' %}
				<li class="nav-item"><a class="nav-link {% if page.url contains item.link %}active" aria-current="page" tabindex="-1"{% else %}" tabindex="1"{% endif %} href="{{ item.link }}">{{ item.name }}</a>
				</li>
				{% endif %}
				{% endfor %}
				<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.url contains '/fallstudien' %}active" aria-current="page" tabindex="-1"{% else %}" tabindex="1"{% endif %} href="/fallstudien" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fallstudien
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/fallstudien">Übersicht</a></li>
            {% for fallstudien in site.fallstudien %}
						<li><a class="dropdown-item {% if page.url contains fallstudien.url %}active" aria-current="page" tabindex="-1"{% else %}" tabindex="1"{% endif %} href="{{ fallstudien.url }}">{{ fallstudien.title }}</a></li>
						{% endfor %}
          </ul>
        </li>
				<li class="nav-item"><a class="nav-link {% if page.url contains '/kontakt' %}active" aria-current="page" tabindex="-1"{% else %}" tabindex="1"{% endif %} href="/kontakt">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
