---
layout: container
title: Team2
subtitle: Das Ganze ist mehr als die Summe seiner Teile
---

<section class="team-section text -center">

  <!-- <h2 class="fw-bold my-5">Das Ganze ist mehr als die Summe seiner Teile</h2> -->

  <div class="row g-5">
    {% for item in site.data.team %}
    <div class="col-md-6 col-xl-4 mb-lg-0 mb- 5 offse t-md-3">
      <div class="avatar mx-auto">
        <img src="{{ item.image }}" class="rounded-circle z-depth-1" alt="{{ item.name }} | Fotograf: {{ item.fotograf }}" role="img" aria-lable="Bild von {{ item.name }} | Fotograf: {{ item.fotograf }}" style="max-width:300px">
      </div>
      <h2 class="h5 fw-bold mt-4 mb-3">{{ item.name }}</h2>
      <p class="text-uppercase blue-text"><strong>{{ item.position }}</strong></p>
      <p class="grey-text">{{ item.beschreibung | replace: "|", "| <span class='visually-hidden'>und </span>" }}</p>
      {% if item.punkte != nil %}
      <a class="mb-5" data-bs-toggle="collapse" href="#{{ item.kurz }}" aria-expanded="false" aria-controls="collapseMehrUeber" >Mehr über {{ item.name }} erfahren</a>
      <div class="m-3">
      </div>
      <div class="collapse" id="{{ item.kurz }}">
        <ul class="text-start">
          {% for punkt in item.punkte %}
          <li class="mb-1">{{ punkt }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <ul class="list-inline">
        <!-- Researchgate -->
        {% if item.researchgate != nil %}
        <li class="list-inline-item">
          <a href="https://www.researchgate.net/profile/{{ item.researchgate }}" title="Researchgate von {{ item.name }}" target="_blank" >
            <i class="fab fa-lg fa-researchgate"></i><span class="visually-hidden">Link zum Researchgate-Profil</span>
          </a>
        </li>
        {% endif %}
        <!-- Xing -->
        {% if item.xing != nil %}
        <li class="list-inline-item">
          <a href="https://www.xing.com/profile/{{ item.xing }}" title="Xing von {{ item.name }}" target="_blank" >
            <i class="fab fa-lg fa-xing"></i><span class="visually-hidden">Link zum Xing-Profil</span>
          </a>
        </li>
        {% endif %}
        <!-- LinkedIn -->
        {% if item.linkedin != nil %}
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/{{ item.linkedin }}" title="LinkedIn von {{ item.name }}" target="_blank" >
            <i class="fab fa-lg fa-linkedin"></i><span class="visually-hidden">Link zum LinkedIn-Profil</span>
          </a>
        </li>
        {% endif %}
        <!-- Instagram -->
        {% if item.instagram != nil %}
        <li class="list-inline-item">
          <a href="https://www.instagram.com/{{ item.instagram }}" title="Instagram von {{ item.name }}" target="_blank" >
            <i class="fab fa-lg fa-instagram"></i><span class="visually-hidden">Link zum Instagram-Account</span>
          </a>
        </li>
        {% endif %}
        <!-- Website -->
        {% if item.website != nil %}
        <li class="list-inline-item">
          <a href="{{ item.website }}" title="Website von {{ item.name }}" target="_blank" >
            <i class="fas fa-lg fa-compass"></i><span class="visually-hidden">Link zur persönlichen Webseite</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

{% comment %}
<hr>

<ul>
  {% for member in site.team %}
    <li>
      <h2><a href="{{ member.url }}" >{{ member.name }}</a></h2>
      <h3>{{ member.position }}</h3>
      <p>{{ member.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul>
{% endcomment %}
