---
layout: default
---

<article class="post container mb-5">

  <header class="post-header text-white" style="min-height:300px; background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), url('../../assets/img/{{ page.image }}'); background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative; margin-top:-25px;">
    <p class="lead p-2" style="top:0; position: absolute">Fallstudie</p>
    <h1 class="post-title p-2" style="bottom:0px; right:0px; position: absolute">{{ page.title | escape }}</h1>
  </header>
  <h2 class="my-3">{{ page.subtitle }}</h2>

  <style>
    h3 {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
    h4 {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
    .footnotes p {
      margin-bottom: .3rem !important;
    }
  </style>

  <div class="row mt-5 d-flex">
    <div class="col-lg-9 post-content order-2 order-lg-1">
      {{ content }}
    </div>
    <div class="col-lg-3 border-left order-1 order-lg-2">
      <div class=""  style="position: sticky; top: 60px; z-index:999">

      <p class="h3 mt-5">Inhalt</p>
      {% toc %}

      <p class="h3">Downloads</p>

      {% if page.download_text-fragen != nil %}
      <p>
        <a href="{{ site.url }}/assets/fallstudien/{{ page.download_text-fragen }}">Text und Fragen</a>
      </p>
      {% endif %}

      {% if page.download_erklaerung != nil %}
      <p>
        <a href="{{ site.url }}/assets/fallstudien/{{ page.download_erklaerung }}">Erklärungen</a>
      </p>
      {% endif %}
      </div>

    </div>
  </div>

</article>

{% if page.image-credit != nil %}
<div class="container text-muted small">
  <p><b>Bildnachweise</b></p>
  <ul class="list-inline">
  {% for item in page.image-credit %}
    <li class="list-inline-item">{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
