<!DOCTYPE html>
<!-- Last generated {{ site.time }} -->

<html lang="de">
{% include head.html %}

<body>
  {% include nav.html %}
  <main>
    <!-- Full Page Image Header with Vertically Centered Content
    https://startbootstrap.com/snippets/full-image-header/ -->
    <header class="masthead text-white">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <p class="display-4 fw-bolder text-shadow nicht-trennen">{{ site.slogan }}</p>
            <!-- <p class="display-4 fw-bold text-shadow">&bdquo;{{ site.slogan }}&ldquo;</p> -->
            <a href="{{ site.baseurl }}/design_your_life" role="button" class="btn btn-light btn-lg mt-5" >Sieh selbst</a>
          </div>
        </div>
      </div>
    </header>
    {{ content }}
  </main>
  {% include footer.html %}
  {% include cookie-consent.html %}
</body>
</html>
